<%include ./partials/header %>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <h1 class="title is-2 auth-title">Let's Read</h1>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
            data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="/" class="navbar-item">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                Hello <%=username%>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a href="/auth/logout" class="button is-primary">
                        <strong>Log Out</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>


<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <a href="/">Back</a>
                <h1 class="title is-1"><%= story.title %></h1>
                <h1 class="title is-5"><%= date_pub %></h1>
            </div>
            <div class="column is-2">
                <p>
                    Views: <strong><%= views %></strong>
                </p>
                <p>
                    Currently Reading: <span id="current_count">1</span>
                </p>
            </div>
        </div>
        <p><%=story.content%></p>
    </div>
</section>

<script src="/javascripts/socket.io.js"></script>
<script>
    var storyID = '<%= story.id %>';
    var socket = io();
    
    socket.on('count_connection', function(msg) {
        console.log(msg);
        $("#current_count").html(msg[storyID]);
    });
</script>

<%include ./partials/footer %>